<section class="container">
  <section class="post-section">
    {{#each posts as |post|}}
    <section class='card-post'>

      <section class='top-post-title'>
        <section class='post-title-section'>
          <h3><a class='post post-title' href='/view-post/{{post.id}}'>{{post.title}}</a></h3>
        </section>
        <section class='info posted-by-section'>
          <p>posted by {{post.username}} on {{format_date post.created_at}}</p>
        </section>
      </section>

      <section class='post-content-section'>
        <p class='post-content'>{{post.content}}</p>
      </section>

    </section>
    {{/each}}
  </section>
</section>