{{!-- 

From controller: homeRoutes
Route: /view-post/:id
Post Data: post_id as id, title, content, user_id, created_at, updatedAt, postOwner
Comments Data: [comment_id as id, user_id, post_id, created_at, updatedAt, commentOwner]
Other Data: logged_in, username, logged in user as logged_user_id
 --}}

<section class='container comment-container'>
  <section class='card-post'>
    <section class='card-post-title'>
      <h2>POST</h2>
    </section>
    <section class='top-post-title'>
      <section class='post-title-section'>
        <h3>{{post.title}}</h3>
      </section>
      <section class='info posted-by-section'>
        <p>posted by: {{post.postOwner}} on {{format_date post.created_at}}</p>
      </section>
    </section>

    <section id='post-content'>
      <p>{{post.content}}</p>
    </section>
  </section>

  <section class='comments-section'>

    {{#each post.comments as |comment|}}

    <section class="card-comment">

      <section class="card-comment-title">
        <h2>commented by {{comment.commentOwner}} on {{format_date comment.created_at}}</h2>
      </section>

      <section class="comment">
        <p>{{comment.comment}}</p>

        {{#compare ../post.logged_user_id 'eq' comment.user_id}}
        <button class='btn btn-danger button-delete-comment' data-id='{{comment.id}}'>Delete Comment</button>
        {{/compare}}

      </section>
    

    </section>
    {{/each}}
  </section>

  {{#if logged_in}} 
  <form class='form-add-comment' data-post-id='{{post.id}}'>
    <label for='comment-text'>Leave a comment</label>
    <textarea rows='8' class='input-comment' placeholder='Your comment'></textarea>
    <button class='btn btn-primary button-save' type="submit">Save</button>
  </form>
  {{/if}}
</section>

<script src="/js/comment.js"></script>