<div>
  <section id='post'>
    <section id='div-post-title'>
      <section id='post-title'>
        <p>{{post.title}}</p>
      </section>
      <section id='posted-by'>
        <p>posted by: {{post.postOwner}} on {{format_date post.created_at}}</p>
      </section>
    </section>

    <section id='post-content'>
      <p>{{post.content}}</p>
    </section>
  </section>

  <section id='comments'>
    {{#each post.comments as |comment|}}
    {{comment.comment}}
    <br>
    commented by {{comment.commentOwner}} on {{format_date comment.created_at}}
    <br>
    <br>
    {{/each}}
  </section>
  <form class='form-add-comment' data-post-id='{{post.id}}'>
    <label for='comment-text'>Leave a comment</label>
    <textarea class='input-comment' placeholder='Your comment'></textarea>
    <button type="submit">Save</button>
  </form>
</div>

<script src="/js/comment.js"></script>